<main>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<h1>Games</h1>
<p>Here you can view, add, update, and remove games from the database</p>

{{!-- Create a table --}}
<table id = "games-table">

{{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.game_id}}>
            <td>{{this.game_id}}</td>
            <td>{{this.game_name}}</td>
            
            
            <td><button onclick="deleteGame({{this.game_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_game.js"></script>

<!-- /views/index.hbs -->

{{!-- Form to add a record to the table  --}}
<h2>Adding Data</h2>
<p>To add a new game, please enter its name below and click 'Submit'!</p>
<form id="add-game">
    <label for="input-game_name">Name of the game: </label>
    <input type="text" name="input-game_name" id="input-game_name">
    

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_game.js"></script>

<h2>Updating a Game</h2>
<p></p>
<form id="update-game">

    <label for="input-gamename">Name of game: </label>
    <select  name="input-gamename" id="mySelect">
        <option value="test">Select a Game</option>
        {{#each data}}
        <option value="{{this.game_id}}">{{this.game_name}}</option>
        {{/each}}
    </select>

    <label for="input-newgamename">new name </label>
    <input type="text" name="input-newgamename" id="input-game-update">
        <option>Input the name of the game</option>
        
   
    <input type="submit">

</form>

<script src="./js/update_game.js"></script>


</main>