<main>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!-- index.hbs -->
<h1>Organizers</h1>
<p>Here you can view, add, update, and remove organizers from the database</p>

{{!-- Create a table --}}
<table id = "organizers-table">

{{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.organizer_id}}>
            <td>{{this.organizer_id}}</td>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
            <td>{{this.username}}</td>

            <td><button onclick="deleteOrganizer({{this.organizer_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_organizer.js"></script>

{{!-- Form to add a record to the table  --}}
<h2>Adding Data</h2>
<p>To add a new organizer, please enter their information below and click 'Submit'!</p>
<form id="add-organizer">
    <label for="input-fname">First Name: </label>
    <input type="text" name="input-fname" id="input-fname">
    
    <label for="input-lname">Last Name: </label>
    <input type="text" name="input-lname" id="input-lname">

    <label for="input-username">Username: </label>
    <input type="text" name="input-username" id="input-username">

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_organizer.js"></script>

<h2>Updating an Organizer</h2>
<p></p>
<form id="update-organizer">

    <label for="input-fullname">Full name: </label>
    <select  name="input-fullname" id="mySelect">
        <option value="test">Select an Organizer</option>
        {{#each data}}
        <option value="{{this.organizer_id}}">{{this.first_name}} {{this.last_name}}</option>
        {{/each}}
    </select>

    <label for="input-username">Username: </label>
    <input type="text" name="input-username" id="input-username-update">
        <option>Input a username</option>
        
   
    <input type="submit">

</form>

<script src="./js/update_organizer.js"></script>

</main>