<main>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!-- index.hbs -->
<h1>Players in Tournaments</h1>
<p>Here you can view, add, update, and remove players from tournament rosters</p>

{{!-- Create a table --}}
<table id = "tournament-roster-table">

{{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.tournament_entry_id}}>
            <td>{{this.tournament_entry_id}}</td>
            <td>{{this.tournament_name}}</td>
            <td>{{this.organizer_name}}</td>
            <td>{{this.username}}</td>
            
            <td><button onclick="deleteTournamentRoster({{this.tournament_entry_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_tournament_roster.js"></script>

{{!-- Form to add a record to the table  --}}
<h2>Adding Data</h2>
<p>To add a new tournament roster, please enter the information below and click 'Submit'!</p>
<form id="add-tournament-roster">
    <label for="input-tournament">Tournament: </label>
    <select name="input-tournament" id ="input-tournament-ajax">
        <option value="">Select a Tournament</option>
        {{#each tournamentData}}
        <option value="{{this.tournament_id}}">{{this.tournament_name}}</option>
        {{/each}}
    </select>

    <label for="input-organizer">Organizer: </label>
    <select name="input-organizer" id ="input-organizer-ajax">
        <option value="">Select an organizer</option>
        {{#each organizerData}}
        <option value="{{this.organizer_id}}">{{this.username}}</option>
        {{/each}}
    </select>

    <label for="input-player">Player: </label>
    <select name="input-player" id ="input-player-ajax">
        <option value="">Select a player</option>
        {{#each playerData}}
        <option value="{{this.player_id}}">{{this.username}}</option>
        {{/each}}
    </select>

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_tournament_roster.js"></script>