

<main>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!-- index.hbs -->
<h1>Tournaments</h1>
<p>Here you can view, add, update, and remove tournaments from the database</p>

{{!-- Create a table --}}
<table id = "tournaments-table">

{{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.tournament_id}}>
            <td>{{this.tournament_id}}</td>
            <td>{{this.tournament_name}}</td>
            <td>{{this.date_of_tournament}}</td>
            <td>{{this.is_online}}</td>
            <td>{{this.location}}</td>
            <td>{{this.prize_pool}}</td>
            <td>{{this.username}}</td>
            <td>{{this.game_name}}</td>

            <td><button onclick="deleteTournament({{this.tournament_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_tournament.js"></script>

<!-- /views/index.hbs -->

{{!-- Form to add a record to the table  --}}
<h2>Adding Data</h2>
<p>To add a new Tournament, please enter the tournament information below and click 'Submit'!</p>
<form id="add-tournament">
    <label for="input-tname">Tournament Name: </label>
    <input type="text" name="input-tname" id="input-tname">
    
    <label for="input-lname">Date of Tournament: </label>
    <input type="date" name="input-tdate" id="input-tdate">

    <label for="input-is-online">Online Tournament?: </label>
    <select id="input-is-online" name ="input-is-online">
        <option value="1" selected>Yes</option>
        <option value="0">No</option>
    </select>

    <label for="input-location">Location: </label>
    <input type="text" name="input-location" id="input-location">

    <label for="input-prize-pool">Prize Pool: </label>
    <input type="text" name="input-prize-pool" id="input-prize-pool">

    <label for="input-organizer">Tournament Organizer: </label>
    <select name="input-organizer" id ="input-organizer-ajax">
        <option value="">Select an Organizer</option>
        {{#each organizerData}}
        <option value="{{this.organizer_id}}">{{this.username}}</option>
        {{/each}}
    </select>

    <label for="input-game">Tournament Game: </label>
    <select name="input-game" id ="input-game-ajax">
        <option value ="">Select a Game</option>
        {{#each gameData}}
        <option value="{{this.game_id}}">{{this.game_name}}</option>
        {{/each}}
    </select>

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_tournament.js"></script>

{{!-- Form to update a record to the table  --}}
<h2>Updating Data</h2>
<p>To update a Tournament, please enter the tournament information below and click 'Submit'!</p>
<form id="update-tournament">
    <label for="update-tname">Tournament Name: </label>
    <select name="update-tname" id ="update-tname-ajax">
        <option value="">Select a Tournament</option>
        {{#each data}}
        <option value="{{this.tournament_id}}">{{this.tournament_name}}</option>
        {{/each}}
    </select>
    
    <label for="update-tdate">Date of Tournament: </label>
    <input type="date" name="update-tdate" id="update-tdate">

    <label for="update-is-online">Online Tournament?: </label>
    <select id="update-is-online" name ="update-is-online">
        <option value="1" selected>Yes</option>
        <option value="0">No</option>
    </select>

    <label for="update-location">Location: </label>
    <input type="text" name="update-location" id="update-location">

    <label for="update-prize-pool">Prize Pool: </label>
    <input type="text" name="update-prize-pool" id="update-prize-pool">

    <label for="update-organizer">Tournament Organizer: </label>
    <select name="update-organizer" id ="update-organizer-ajax">
        <option value="">Select an Organizer</option>
        {{#each organizerData}}
        <option value="{{this.organizer_id}}">{{this.username}}</option>
        {{/each}}
    </select>

    <label for="update-game">Tournament Game: </label>
    <select name="update-game" id ="update-game-ajax">
        <option value ="">Select a Game</option>
        {{#each gameData}}
        <option value="{{this.game_id}}">{{this.game_name}}</option>
        {{/each}}
    </select>

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/update_tournament.js"></script>

</main>